In [412]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [415]:
x = np.ones(5)
x

array([1., 1., 1., 1., 1.])

## Q#2: Create y array with elements equal to 0.

In [418]:
y = np.zeros(5)
y

array([0., 0., 0., 0., 0.])

## Q#3: Add x and y arrays.

In [421]:
addXandY = x + y
addXandY

array([1., 1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [424]:
print(x.ndim)
print(x.shape)
print(x.size)
print(x.dtype)

1
(5,)
5
float64

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [427]:
w = np.array([[11, 12], [13, 14], [15, 16]])
print(w)
print(w.ndim)
print(w.shape)

[[11 12]
 [13 14]
 [15 16]]
2
(3, 2)

## Q#6: Create z array contains the numbers from 1 to 3.

In [430]:
z = np.arange(1, 4)
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [433]:
z = z.reshape(3,1)
print(z.shape)
print(z)
print(w.shape)
print(w)

(3, 1)
[[1]
 [2]
 [3]]
(3, 2)
[[11 12]
 [13 14]
 [15 16]]

In [435]:
# Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".
newArray = np.hstack((z, w))
newArray

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [438]:
for i in newArray:
    print(i)

[ 1 11 12]
[ 2 13 14]
[ 3 15 16]

## Q#9: Reverse the columns and rows of "newArray".

In [441]:
newArray = newArray.T
print(newArray)

[[ 1  2  3]
 [11 13 15]
 [12 14 16]]

## Q#10: Decrement all elements of "newArray" with 1.

In [444]:
newArray = newArray - 1
print(newArray)

[[ 0  1  2]
 [10 12 14]
 [11 13 15]]

## Q#11: Find smallest and biggest values in "newArray".

In [447]:
print(newArray.min())
print(newArray.max())

0
15

## Q#12: Print the first row of "newArray" using indexing.

In [450]:
print(newArray[:1])

[[0 1 2]]

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [453]:
print(newArray[1, 1])

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [456]:
print(newArray[0, 0])
print(newArray[2, 1])

0
13

## Q#15: Change the shape of "newArray" to (9,1).

In [459]:
newArray = newArray.reshape(9, 1)
print(newArray)
print(newArray.shape)

[[ 0]
 [ 1]
 [ 2]
 [10]
 [12]
 [14]
 [11]
 [13]
 [15]]
(9, 1)

## Q#16: Change the shape of "newArray" to (3,2).

In [462]:
newArray = newArray[:6].reshape(3, 2)
print(newArray)
print(newArray.shape)

[[ 0  1]
 [ 2 10]
 [12 14]]
(3, 2)

# Well Done ðŸŽ‰